@charset "utf-8";
/* CSS Document */

/* CSS Reset */
body, h1, h2, h3, h4, h5, p, dl, dd, ul, ol, form, input, textarea, th, td, select { margin:0; padding:0; }
em {  font-style: normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input, textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:Arial "微软雅黑"; }
/* End CSS Reset */

/* Public */
.clear { zoom:1; }
.clear:after { display:block; content:""; clear:both; }
.fl { float:left; }
.fr { float:right; }
/* End Public */

body { background:#333; }
.main_img { width:100%; background:#666; opacity:0.9; filter:alpha(opacity=90); position:absolute; top:0; left:0; }

.wrap { z-index:2; position:absolute; top:50%; left:50%; margin-top:-240px; margin-left:-380px; }
.top { position:relative; }
.top h2 { width:160px; font-weight:normal; padding-left:4px; font-size:24px; color:#fff; }
.title { width:160px; position:absolute; top:4px; left:168px; }
.title div { color:#fff; float:left; }
.title div:nth-child(1) { color:#c6c3b3; }
.title div:nth-child(2) { color:#fff; font-size:18px; position:relative; top:-4px; padding:0 6px; }
.title div:nth-child(3) { color:#b2c13e; }

.list, .showreel  { height:400px; background:#57554e; border:1px solid #181411; position:absolute; border-radius:8px; }

.bottom { width:760px; position:relative; top:50px; }

.mine_title { height:38px; position:absolute; top:364px; left:0; overflow:hidden; }
.mine_title li { width:110px; height:36px; line-height:36px; text-align:center; background:#1c1913; color:#727b41; cursor:pointer; float:left; border:1px solid #332d24;  border-radius:6px; margin-right:1px; }
.mine_title li:hover { border-color:#960; }
.mine_list li h3, .showreel h3 {height:60px;line-height:50px;text-indent:30px; font-size:18px; color:#6d5430; }
.mine_list li h3 span, .showreel h3 span { font-size:24px; position:relative; top:2px; }

.list { height:360px; width:450px; overflow:hidden; background:#1d1c13; top:0px; left:0; z-index:3; }
.list img { width:450px; height:400px; opacity:0.5; position:absolute; top:-30px; left:0px; z-index:3; }
.clock, .clock ul { width:120px; height:120px; border-radius:50%; }
.clock { position:absolute; left:240px; bottom:108px; }
.clock ul { border:2px solid #000;z-index:4; position:relative; }
.clock ul li { width:2px; height:6px; background:#000; position:absolute; top:0; left:59px; -webkit-transform-origin:center 60px; -moz-transform-origin:center 60px; -ms-transform-origin:center 60px; -o-transform-origin:center 60px; transform-origin:center 60px; }
.clock ul li:nth-of-type(5n+1) { height:8px; }
#hour, #min, #sec { position:absolute; z-index:3;-webkit-transform-origin:bottom center; -moz-transform-origin:bottom center; -ms-transform-origin:bottom center; -o-transform-origin:bottom center; transform-origin:bottom center; border-radius:50% 50% 0 0; }
.ico { width:14px; height:14px; background:#000; position:absolute; top:53px; left:-2px; border-radius:50%; z-index:4; }
#hour { background:#000; width:6px; height:36px; left:2px; top:24px; }
#min { background:#333; width:4px; height:45px; left:3px; top:15px; }
#sec { background:red; width:2px; height:50px; left:5px; top:10px; }

.showreel { width:300px; left:460px; }
.showreel h3 { color:#231f19; text-indent:18px; }
.showreel_title { width:280px; margin:0 auto; }
.showreel_title li { height:36px; line-height:36px; border-bottom:1px solid #534732; cursor:pointer; } 
.showreel_title h4 span { color:#9cb20c; padding:0 4px; font-weight:normal; }
.showreel_title h4 { width:140px; float:left; color:#a29d93; }
.showreel_title strong { width:140px; float:right; color:#b0a33d; }

/* 弹窗公共部分 */
.mine_list, .showreel_list { width:602px; height:502px; overflow:hidden; margin:-251px 0 0 -301px; position:absolute; top:50%; left:50%; border:1px solid #191611; display:none; z-index:5; }
.mine_list li, .showreel_list li { width:600px; height:500px; border:1px solid #181411; background:#312b23; position:relative; float:left; }
.mine_list h3, .showreel_list h3 { font-size:18px; font-weight:normal; color:#535f09; line-height:50px; text-indent:24px; }
.closed { width:20px; height:18px; text-align:center; line-height:18px; background:#ccc; color:#333; font-size:24px; position:absolute; right:10px; top:10px; opacity:0.7; cursor:pointer; border-radius:4px; }
.closed:hover { opacity:1; }
.mine_list li p, .showreel_list li p { width:190px; height:400px; position:absolute; left:10px; bottom:10px; color:#b4c73a; background:#191611; font-size:13px; line-height:24px; padding:40px 20px 0; }
.mine_list p a { color:#b4c73a; }
.mine_list li img, .showreel_list li img { width:350px; height:440px; position:absolute; bottom:10px; right:10px; }

/* 弹窗——我 */
.mine_list .not p { width:540px; height:400px; line-height:30px; }

/* 作品集弹窗 */
.showreel_list li p { text-indent:2em; }
.showreel_list li p a { line-height:40px; float:right; color:#84bb2d; }



