@charset "utf-8";
/* CSS Document */

/* css reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end css reset */

/* public */
.fl { float:left; }
.fr { float:right; }
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
/* end public */

#nav, #header .header { width:960px; margin:0 auto; }

body { background:#d9e2ce url(../img/bg.gif) repeat-x; }

#header { height:94px; background:url(../img/head_bg.jpg) no-repeat center 0; }
#header .header { position:relative; }
#header ul { width:400px; position:absolute; top:10px; right:10px; }
#header li { color:#afe3f3; line-height:32px; text-align:right; }
#header li img { position:relative; top:4px; }
#header .login a { padding:0 4px; color:#afe3f3; }
#header .login a:hover { opacity:0.8; }
#header .colling { background:url(../img/index/ear.png) no-repeat 212px 10px; padding-right:4px; }

#nav { height:42px; background:url(../img/nav_bg.png) no-repeat; }
#nav li { width:136px; text-align:center; line-height:42px; font-size:16px; float:left; }
#nav li a { display:block; color:#fdfbf9; }
#nav li a:hover, #nav .active { background:url(../img/nav_hover.png) no-repeat; }

#footer ul li a, #footer p { line-height:24px; color:#808080; }
#footer { width:960px; margin:0 auto; height:200px; background:url(../img/index/footer_bg.png) repeat-x; }
#footer ul { width:560px; margin:0 auto; padding-top:56px; }
#footer ul li { float:left; }
#footer ul span { padding:0 7px; color:#a680a4; }
#footer ul a:hover { color:#000; }
#footer p { width:520px; margin:0 auto; text-align:center; }

/* product\room\buy\help 公共部分 */
#main { width:960px; margin:0 auto; overflow:hidden; background:#fff; position:relative; }
#main .sideWrap { width:260px; padding-bottom:10000px; margin-bottom:-10000px; position:relative; background:url(../img/product/title_bg.png) repeat-y 156px 0; }
#main .list {width:660px; padding-left:16px; margin-top:24px; padding-bottom:10000px; margin-bottom:-10000px; }
.sideBg { width:260px; height:240px; background:url(../img/product/title_bg1.png) no-repeat 156px bottom; position:absolute; left:0; bottom:0; }

.title { width:260px; background:url(../img/product/title_ul_bg.png) no-repeat 156px 0; text-indent:50px; z-index:2; position:relative; }
.title li { height:20px; margin-bottom:22px; color:#1a5d96; font-size:14px; cursor:pointer; }
.title li span { display:inline-block; opacity:0; margin-left:8px; border:4px solid #fff; }
.title li:nth-of-type(1) { padding-top:40px; }
.title .active, .title li:hover { color:#0089fe; }
.title .active span { border-left:4px solid #6cbbff; opacity:1; }